build_tmp/
__pycache__/
*.mp4
*.mp3
*.wav
*.png
*.jpg
settings.json

# Игнорировать все текстовые файлы (чтобы рабочие словари не попадали в репозиторий)
*.txt

# Исключения: эти файлы Git обязан отслеживать
!requirements.txt
!input.txt